body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #fffaf5;
    color: #333;
}

header {
    background-color: #61e3f4;
    color: black;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #24b3ec;
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 14px 25px;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #a1540c;
}

section {
    display: none;
    padding: 30px;
    text-align: center;
}

section.active {
    display: block;
}

.fila {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.producto {
    display: inline-block;
    width: 200px;
    padding: 15px;
    margin: 15px;
    background: blue(255, 255, 255);
    border: 1px solid #180b0b;
    border-radius: 10px;
    box-shadow: 0 0 10px #181515;
    text-align: center;
}

.producto img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

button {
    background-color: #0d8f88;
    color: rgb(27, 18, 18);
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #6ab7db;
}

footer {
    background-color: #61caf4;
    color: rgb(29, 18, 18);
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

.carrito-lista {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

.carrito-lista li {
    list-style: none;
    padding: 8px 0;
    border-bottom: 1px solid #1a1212;
}

